{
    "frontal": false,
    "parietal": false,
    "temporal": false,
    "occipital": true,
    "preprocess": true,
    "TR": 1,
    "fmri": [
        "./test/run1.nii.gz",
        "./test/run2.nii.gz",
        "./test/run3.nii.gz",
        "./test/run4.nii.gz"
    ],
    "stim": [
        "./test/stim1.nii.gz",
        "./test/stim2.nii.gz",
        "./test/stim3.nii.gz",
        "./test/stim4.nii.gz"
    ],
    "output": "test/output"
}
