{
    "frontal": false,
    "parietal": false,
    "temporal": false,
    "occipital": true,
    "preprocess": true,
    "TR": 1.0,
    "stimsizeX": 16.0,
    "stimsizeY": 16.0,
    "fmri": [
        "./test/RETCW.nii.gz",
        "./test/RETEXP.nii.gz",
        "./test/RETCON.nii.gz",
        "./test/RETBAR.nii.gz",
        "./test/RETWEDGERING.nii.gz",
        "./test/RETCCW.nii.gz"
    ],
    "stim": [
        "./test/RETCWsmall_norm.nii.gz",
        "./test/RETEXPsmall_norm.nii.gz",
        "./test/RETCONsmall_norm.nii.gz",
        "./test/RETBARsmall_norm.nii.gz",
        "./test/RETWEDGERINGsmall_norm.nii.gz",
        "./test/RETCCWsmall_norm.nii.gz"
    ],
    "output": "test/output"
}
